


h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 3.5em;
}

#team_caption {
    font-size: 2em;
    padding-top: 0;
}

article > div{
    padding: 0.75%;
    width: 90%;/*over ridden by media */
    border: 4px dotted lightskyblue;
    
    overflow: hidden;
    margin: 1.4%;
}

article > div > h2 {
    transform-origin: left;
    transform: rotate(-10deg);
    
}

.div_content {
    float: right;
    width: 90%;
    /*adjusted by media queries */
}




@media (min-width: 780px){
    
    h1{
        font-size: 4em;
    }
    
    #about_us {
    width: 30%;
    float: right;
    margin-top: -2px;
    }
    
    article > div{
        width: 60%;
    }
    
    .div_content{
        width: 70%;
    }
}


.sponsor_card {
    display: inline-block;
    padding-right: 20px;
    border: 1px dotted lightskyblue;
}

.sponsor_platitude {
    font-size: 0.4em;
}
.sponsor_gold {
    font-size: 0.3em;
}
.sponsor_silver {
    font-size: 0.2em;
}
.sponsor_bronze {
    font-size: 0.1em;
}

.sponsor_card > .sponsor_logo
{
    width: 10em;
    height: auto;
}

#sponsors > div > h3{
    /*change Titles e.g. bronze sponsors directly */
    font-size: 3em
}

